<a href="https://colab.research.google.com/github/Shikharmishra0507/bank-system/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("train.csv")
df2=pd.read_csv("test.csv")
df.replace(to_replace=['LF'],value='Low Fat')

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

imputing missing datas

In [ ]:
input=df.drop(['Item_Outlet_Sales'],axis='columns')

#input=input.drop(['Item_Identifier'],axis='columns')
input['Outlet_Size'].fillna(method='bfill',inplace=True)
input['Item_Weight']=input['Item_Weight'].fillna(input['Item_Weight'].mean())

print(input['Outlet_Identifier'].nunique())
print(input['Outlet_Type'].nunique())
print(input['Item_Type'].nunique())

10
4
16

one hot encoidng and label encoding

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()
le4=LabelEncoder()
le5=LabelEncoder()
le6=LabelEncoder()
le7=LabelEncoder()
input['Item_Identifier']=le7.fit_transform(input['Item_Identifier'])
input['Item_Fat_Content']=le1.fit_transform(input['Item_Fat_Content'])
input['Outlet_Location_Type']=le2.fit_transform(input['Outlet_Location_Type'])
input['Outlet_Size']=le3.fit_transform(input['Outlet_Size'])
input['Outlet_Identifier']=le4.fit_transform(input['Outlet_Identifier'])
input['Outlet_Type']=le5.fit_transform(input['Outlet_Type'])
input['Item_Type']=le6.fit_transform(input['Item_Type'])
ct=make_column_transformer((OneHotEncoder(),['Item_Type','Outlet_Identifier']),remainder='passthrough')
input=ct.fit_transform(input)

input.shape

(8523, 35)

In [ ]:
type(input)

numpy.ndarray

In [ ]:
#lip=input
lip=pd.DataFrame(input)
lip.shape

(8523, 35)

In [ ]:
X=lip.iloc[ : , : ].values
y=df['Item_Outlet_Sales'].values
X.shape

(8523, 35)

In [ ]:
from  sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X.shape

(8523, 35)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
regF=RandomForestRegressor(n_estimators=10)
regF.fit(X_train,y_train)
y_pred=regF.predict(X_test)
print(r2_score(y_test,y_pred))

0.5165158156144154

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
regD=DecisionTreeRegressor(random_state=0)
regD.fit(X_train,y_train)
y_pred=regD.predict(X_test)
print(r2_score(y_test,y_pred))

0.10932000926831187

In [ ]:
#from sklearn.svm import SVR
#from sklearn.metrics import r2_score
#reg=SVR(kernel='rbf')
#reg.fit(X_train,y_train)
#y_pred=reg.predict(X_test)
#print(r2_score(y_test,y_pred))
#-ve

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
linreg=LinearRegression()
linreg.fit(X_train,y_train)
y_pred=linreg.predict(X_test)
print(r2_score(y_test,y_pred))
#56%

0.562279637141417